<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="com.android.vending.BILLING" />

  <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version" />

  <application>
    <activity
      android:name=".PaymentActivity"
      android:exported="true"
      android:theme="@style/Theme.SDKMb" />
<!--    <activity-->
<!--      android:name="com.appmb.sdk.mbpayment.PaymentResultActivity"-->
<!--      android:theme="@style/Theme.SDKMb" />-->
  </application>
</manifest>